.piano-sheets {
  position: relative;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Dark and Light Themes*/

.piano-sheets__list--light,
.piano-sheets__list--dark {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  background-position: left;
  width: 90%;
  border-radius: 1em;
}

.piano-sheets__list--light {
  background-color: #f6f8f9;
}

.piano-sheets__list--dark {
  background-color: #464343;
}

.piano-sheets__all,
.piano-sheets__add {
  font-weight: 600;
  font-size: 15px;
  word-wrap: unset;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 41px;
  left: 80%;
}

.piano-sheets__add-label--light,
.piano-sheets__add-label--dark {
  width: 80px;
}
.piano-sheets__add-label--light {
  color: black;
}

.piano-sheets__add-label--dark {
  color: white;
}
/*-------------------------*/
.piano-sheets__all img,
.piano-sheets__add img {
  height: 50px;
  width: 90px;
  padding: 7px;
}

.piano-sheets__all,
.piano-sheets__add img:hover {
  cursor: pointer;
}
